/* fonts and utilites */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap");
body {
  font-family: roboto;
}
@media only screen and (max-width: 668px) {
}

.fa-brands {
  font-size: 20px;
  padding: 10px;
}
.fa-facebook {
  color: #1d7bc9;
}
.fa-youtube {
  color: red;
}
.fa-linkedin {
  color: #1d7bc9;
}
.fa-brands .fa-google-play {
  color: aqua;
}
.fa-apple-pay {
  color: white;
}
.fa-github {
  color: darkslategray;
}

@media only screen and (max-width: 668px) {
  .hide_content {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .hide_content {
    visibility: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .hide_content {
    visibility: visible;
  }
}
